@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: "Sawarabi Mincho";　"serif";
}


/*ヘッダー*/
.header {
    width: 100%;
    background-color:  #ddaf63;
    box-shadow: 0 0 15px #dddddd;
    color: white; 
    position: fixed;
    top: 0;
    z-index: 90;
    padding: 5px 0;
}


.header-title {
    font-size: 1.4rem;
    text-align: center;
}


/*ヘッダー 予約ボタン*/
.header-btn {
    position: fixed;
    top: 1.6rem;
    right: 2.5rem;
    width: 13rem;
}

.header-btn a {
    padding: 15px;
    font-size: 1.5rem;
    background-color: #3d9055;
    color: white;
    border-radius: 7px;
    text-decoration: none;
}


/*見出し　丸マーク*/
.circle-mark {
    width: 130px;
    height: 130px;
    background-color: #8e0040;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 30%;
    z-index: 1;
}





/*フッター*/
.fotter {
    background-color: #ddaf63;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}


.fotter p {
    font-size: 1.8rem;
}

.fotter-left {
    margin-top: 120px;
}


.icon-wrap {
    display: flex;
}

.fotter-right p {
    text-align: right;
    padding-right: 1rem;
}


.instagram img, .twitter img{
    width: 80px;
    height: 80px;
    margin: 15px 0;
}

.twitter img {
    margin:  15px 30px 15px 70px;
}
