@charset "utf-8";

/*タブレット用のCSS*/
@media (max-width:1024px){
    .plan img{
        height: 100%;
        object-fit: cover;
    }

/*メインページ*/
    .plan h3 {
    font-size: 2.2.5rem;
    }


    .plan p {
        margin-top: 5rem;
        font-size: 1.5rem;
        line-height: 2.8rem;
    }
    
   
    .shiki h2 {
        margin-bottom: 0;
    }
    
    
    .shiki-wrap {
        margin-top: 0;
    }
    
    
    .shiki-img {
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        width:  350px;       /* ※縦横を同値に */
        height: 350px;       /* ※縦横を同値に */
        margin-top: 50px;
    }
    
    .shiki h3 {
        margin-top: 60px;
    }
    
    .inquiry-wrap {
        padding: 50px 40px;
    }
    
    .inquiry-text h4 {
        font-size: 2rem;
    }
    
    .inquiry-text h3 {
        font-size: 3rem;
        margin-right: 7px;
    }
    

   
    .inquiry-btn {
        font-size: 1.2rem;
    }
    
    
/*アクセスページ*/
    
    .access-text {
        width: 100%;
    }
    
    .access-map {
        width: 100%;
        margin-top: 50px;
    }
    
    .appoint-table th {
        font-size: 1.5rem;
    }

    
    input,select,textarea {
    width: 250px;
    }
    
    .item-right {
        padding: 3px 15px;
    }
    
    #menu::before {
        width: 33rem;
    }
   
    
    
/*iPhoneのみエバーのデバッグ*/    
    .header-btn a {
        font-size: 1.5rem;
    }
    
    
    .inquiry-wrap {
        padding: 35px;
        width: 80%;
    }

    
    .header-btn {
        position: fixed;
        top: 1.6rem;
        right: 1rem;
        width: 13rem;
    }
 
    .btn {
        border-radius: 7px;
        width: 13.5rem;
        font-size: 1.5rem;
    }


    #menu a {
        font-size: 2rem;
    }
    

    
}
